<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.back.mapper.AddItemMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO todo (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <resultMap id="todoMap" type="com.back.back.po.Todo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="completed" property="completed" />
        <result column="created_at" property="createdAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <select id="searchAll" resultMap="todoMap">
        SELECT id, title, content, completed, created_at, update_at
        FROM todo
    </select>

    <delete id="deleteById">
        delete from todo where id=#{id}
    </delete>

    <update id="updateById" >
        update todo set title=#{title}, content=#{content}, update_at=NOW() where id=#{id}
    </update>

    <select id="selectById" resultMap="todoMap">
        select id, title, content, completed, created_at, update_at from todo where id=#{id}
    </select>

</mapper>
