<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.back.mapper.AddItemMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO todo (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <resultMap id="AddItemResult" type="com.back.back.dto.AddItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>

    <select id="searchAll" resultMap="AddItemResult">
        SELECT id, title, content
        FROM todo
    </select>

    <delete id="deleteById">
        delete from todo where id=#{id}
    </delete>

    <update id="updateById" >
        update todo set title=#{title}, content=#{content} where id=#{id}
    </update>

</mapper>
